.create-user{
    background-color: rgb(100, 100, 212);
    min-height: 520px;
    box-sizing: border-box;
}
.create-user h3{
    padding-top: 20px;
    text-align: center;
    text-shadow: 1px 1px;
    color:aquamarine;
}
.create-user .create-form{
    margin-left: 380px;
    width: 500px;
    background-color: aqua;
    box-shadow: 8px 8px;
}
input[type="text"]{
    padding-left: 5px;
    border-radius: 5px;
}
.create-user .create-form .form-group{
    margin-left: 20px;
    width: 460px;
    border-radius: 5px;
    margin-bottom: 0px;
}
.create-user .create-form input[type="submit"]{
    margin-bottom: 10px;
    margin-left: 170px;
}